<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/editlist.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note {{list_to_edit.id}}</title>
</head>
<body>
   <h3> Update Note</h3>

   <div class="tile">
	   <h2>{{list_to_edit.name}}</h2>
		<p>{{list_to_edit.content}}</p>
   </div>


	<form method="post">
		{% csrf_token %}
	 	<input type="text" name="title" value="{{list_to_edit.name}}">
	 	<br>
	 	<input type="text" class="textarea" name="content" value="{{list_to_edit.content}}">
	 	<br>
	 	<button type="submit" name="save"> SAVE </button>
	</form>
</body>
</html>